.example {
    background: linear-gradient(
        54deg,
        rgb(210, 255, 31) 0%,
        rgb(123, 194, 85) 45%,
        rgb(227, 144, 43) 100%
    );
    width: 300px;
    height: 200px;
    margin: auto;
}

.example p {
    margin: 0;
    color: white;
    font-size: 24px;
    padding: 25px;
}
